{
  "presets": ["next/babel", "env", "stage-0"],
  "plugins": [
    "transform-decorators-legacy",
    [ "import", { "libraryName": "antd", "style": false }],
    [ "wrap-in-js", { "extensions": [ "\\.css$", "\\.less$" ]}],
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "lib": "./lib",
          "styles": "./styles",
          "components": "./components"
        },
        "cwd": "babelrc"
    }],
  ]
}
